.login{
  display: grid;
  place-items: center;
}

.login > h1{
  padding: 30px;
  background-color: #B0C4DE;
  color: #004792;
  width: 100%;
  text-align: center;
}

.signup{
  display: grid;
  place-items: center;
}

.signup > h1{
  padding: 30px;
  background-color: #B0C4DE;
  color: #004792;
  width: 100%;
  text-align: center;
}

.add{
  display: grid;
  place-items: center;
}

.search{
  display: grid;
  place-items: center;
}

.view{
  display: grid;
  place-items: center;
}

*{
  margin: 0;
}

.card{
  width: 80%;
}
